.form-area{
   padding: 20px;
}
.hide{
   opacity: 0;
}
.fields .calender{
   padding-left: .5em;
   padding-right: .5em;
   width: 50%;
}
.fields .calender label{
   display: block;
   margin: 0 0 .28571429rem 0;
   color: rgba(0,0,0,.87);
   font-size: .92857143em;
   font-weight: 700;
   text-transform: none;
}
.calender .inline input{
   padding: 0 1px !important;
   border: none !important;
}
.btn-green button{
   background-color: green !important;
   color: #fff !important;
}
.right{
   text-align: right;
}
.left{
   text-align: left;
}
.form-area .ui.form .field>label{
   text-align: left;
}
.form-area .ui.form .field .ui.input input, .form-area .ui.form .fields .field .ui.input input, .form-area .ui.form .field>.selection.dropdown, .form-area .react-date-picker__wrapper{
   border: none;
   border-bottom: 1px solid #ccc;
   padding-left: 0;
}
.ui.form .required.field>.checkbox:after, .ui.form .required.field>label:after, .ui.form .required.fields.grouped>label:after, .ui.form .required.fields:not(.grouped)>.field>.checkbox:after, .ui.form .required.fields:not(.grouped)>.field>label:after{
   color: #000;
}
.rupee input[type=number]{
   background-image: url('/rupee.png') !important;
   padding-left: 16px !important;
   background-size: 10px !important;
   background-repeat: no-repeat !important;
   background-position: 2px !important;
}
.noborder > div{
   border: none !important;
   border-bottom: 1px solid #ccc !important;
   padding-left: 0 !important;
}
.seperatrion{
   display: inline-block;
   width: 100%;
   padding: 10px;
   margin: 10px 0;
   box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.member-area .tabs{
   display: inline-block;
   width: 100%;
   margin-top: 20px;
   margin-bottom: 20px;
}
.member-area .tabs > div{
   display: inline-block;
   width: 110px;
   text-align: center;
   padding: 5px;
}
.member-area .tabs > div.active{
   box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
   border-bottom: 2px solid blue;
}
.member-area .status{
   display: inline-block;
   width: 100%;
}
.member-area .status > div{
   display: inline-block;
   padding: 5px;
   margin-bottom: 20px;
}
.member-area .paid{
   background: #f7a1044d;
   color: #fff;
   border-left: 20px solid #f7a104;
   width: 80px !IMPORTANT;
   margin-right: 10px;
}
.member-area .due{
   background: #0b68da4d;
   color: #fff;
   border-left: 20px solid #0b68da;
   width: 70px !IMPORTANT;
}
.member-area .members-list{
   padding: 20px;
   padding-top: 0;
}
.member-area .members-list .member-view{
   box-shadow: 3px 0px 5px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
   position: relative;
   height: 100px;
   width: 100% !important;
   background: #fff;
   margin-bottom: 10px;
   border-radius: 10px;
}
.member-area .members-list .member-view.yellow{
   border-left: 5px solid #f7a104;
}
.member-area .members-list .member-view.green{
   border-left: 5px solid green;
}
.member-area .members-list .member-view.red{
   border-left: 5px solid red;
}
.member-area .members-list .member-view .img{
   width: 80px;
   display: inline-block;
   border-right: 1px solid #ccc;
   height: 80px;
   background-position: center;
   background-size: 100%;
   position: absolute;
   left: 10px;
   border-radius: 50px;
   top: 10px;
}
.member-area .members-list .member-view .text{
   width: calc(100% - 100px);
   display: inline-block;
   white-space: normal;
   word-break: break-word;
   padding-left: 5px;
   vertical-align: top;
   height: 100px;
   text-align: left;
   position: absolute;
   left: 100px;
   color: #000;
   padding: 5px
}
.member-area .members-list .member-view .text .dd{
   float: right;
   font-size: 0.8em;
}
.smallfont{
   font-size: 0.8em;
}
.endDate{
   position: absolute;
   bottom: 10px;
   font-size: 0.8em;
}
.actions-bttn{
   position: absolute;
   right: 1px;
   bottom: 4px;
}
.actions-bttn button{
   font-size: 0.8em !important;
}
.add-trainer{
   position: fixed;
   top: 4px;
   right: 0;
   z-index: 1;
}
.add-form.form-area .ui.form .btn-black, .add-form.form-area .ui.form .btn-green{
   display: inline-block;
   width: auto !important;
}
.view-trainer{
   text-decoration: underline;
   font-size: 0.8em;
}

@media only screen and (max-width: 767px){
   .fields .calender{
      width: 100%
   }
   .ui.form .fields .right, .ui.form .fields .left{
      text-align: center;
   }
   .form-area .ui.form .fields .halfdivison{
      width: 50% !important;
   }
   .ui.form:not(.unstackable) [class*="equal width"].fields:not(.unstackable)>.field .halfdivison{
      width: 50% !important;
   }
}