.active-sessions{
   margin-bottom: 20px;
}
.session-info .extra.content{
   padding: 0 !important;
}
.action-btn{
   width: 100%;
   background: red;
}
.action-btn .button{
   padding: 10px;
   text-align: center;
   color: #fff;
}

.mbr-gallery-filter {
   padding-top: 0px !important;
   padding-bottom: 10px;
   text-align: center;
}

.mbr-gallery-filter ul {
   display: inline-block;
   width: 100%;
   padding-left: 0;
   margin-bottom: 0;
   list-style: none;
}
.mbr-gallery-filter li {
   display: inline-block;
   padding: 5px 0;
   transition: all .3s ease-out;
   width: 300px;
}
.btn-md {
   font-weight: 500;
   letter-spacing: 1px;
   margin: .4rem .8rem !important;
   transition: all 0.3s ease-in-out;
   padding: 1rem 1rem;
   border-radius: 3px;
}
.btn-md {
   margin: 2.2rem .8rem !important;
   padding: 0 !important;
}
.mbr-gallery-filter li .btn {
   background: none;
   border-color: #000;
   color: #0b566f;
   /* background: linear-gradient(180deg,#42a5f5,#2196f3);
   color: #fff; */
   background: #fff;
   color: #000;
   border: 1px solid;
   border-radius: 10px;
}
.mbr-gallery-filter li .btn {
   position: relative;
}
.day-info {
   height: 130px;
   padding: 20px;
}
.center-align {
   margin: 0;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   width: 100%;
   text-align: center;
   left: 0;
}
.center-view span{
   width: 33%;
   display: inline-block;
   padding-left: 10px;
   text-align: left;
}
.new-align span{
   width: 50%;
}
.center-view .text-right{
   padding: 10px;
   text-align: right;
}
.lchild{
   padding-left: 0 !important;
   padding-right: 10px;
   text-align: right !important;
}
.center{
   text-align: center !important;
}
.more-info{
   margin-top: 20px;
}
.more-info span{
   width: 50%;
   display: inline-block;
   padding-left: 10px;
   text-align: left;
}
.more-info span:last-child{
   padding-left: 0;
   padding-right: 10px;
   text-align: right;
}
.view-slot {
   position: absolute;
   bottom: -47px;
   padding: 10px;
   cursor: pointer;
   width: 100%;
   left: 0;
   background: #d94242;
   color: #fff;
   border-radius: 10px;
}
.nobook{
   background: #fff !important;
   border: 1px solid #000;
   border-color: #000 !important;
   color: #000 !important;
   margin-bottom: 0 !important;
}
.mt-0{
   margin-top: 0 !important;
}
.book-session{
   border: 1px solid #000;
   padding: 10px;
   cursor: pointer;
   background: #000;
   margin-top: 20px;
   margin-left: 5px;
   display: inline-block;
   border-radius: 10px;
}
.book-session a{
   color: #fff;
}
.nobooking{
   padding: 5px;
}
.moreinfos{
   float: left;
   width: 100%;
   text-align: center;
   margin-top: 0px;
}
.close{
   background: #fff !important;
   color: #000 !important;
   border: 1px solid #000 !important;
}
.ui.form .calender input{
   height: 10px !important;
   border: none;
}
.ui.form .calender .react-date-picker__inputGroup__leadingZero{
   margin-top: 2px;
   display: inline-block;
}
.field.two-row{
   display: inline-block;
   width: 50%;
}
.exeList{
   width: 100%;
}
.exeList > div{
   border: 1px solid #ccc;
   padding: 20px;
   margin-bottom: 20px;
}
.main-sections.none{
   display: none;
}
.main-sections.block{
   display: block;
}

.cat-list{
   border: 1px solid #000;
   margin: 10px 10px;
   display: inline-block;
   min-width: 140px;
}
.cat-list label {
   width: 100%;
}

.cat-list .card-input-element {
   display: none;
}

.cat-list .card-input {
   padding: 10px;
}

.cat-list .card-input:hover {
   cursor: pointer;
}

.cat-list .card-input-element:checked + .card-input, .selected .card-input {
   background: #000;
   color: #fff;
}
.newcards{
   background: #fff;
   color: #000;
   padding: 10px;
   margin: 10px 0;
   border: 1px solid;
}
.cc{
   text-align: center;
   padding: 10px;
   border-bottom: 1px solid;
}
.goback{
   position: fixed;
   z-index: 5;
   top: 4px;
   left: 0;
   width: 100%;
}
.goback button{
   float: left;
}

@media only screen and (max-width: 320px){
   .container{
      padding: 5px;
   }
   .react-confirm-alert-body{
      width: 300px !important;
   }
   .head-name{
      font-size: 1.2em;
   }
   .mbr-gallery-filter li{
      width: 280px;
   }
   .slot-content .day-info{
      width: 260px;
   }
}

@media only screen and (max-width: 320px){
   .book-session{
      font-size: 0.8em;
   }
}