.container .card{
   text-align: left;
   margin: 0 10px !important;
}
.container .card:first-child{
   margin-left: 0 !important;
}
.card-img{
   font-size: 20px !important;
   border-radius: 30px;
   padding: 13px;
   width: 50px !important;
   height: 50px !important;
   color: #fff;
   margin-bottom: 20px !important;
}
.card-img.members{
   background: #f68ea0;
}
.card-details {
   width: 200px !important;
   float: left;
}
.card-details .extra-details{
   float: left;
   margin-right: 20px;
   text-align: center;
   width: 65px;
   padding: 10px 0;
   font-size: 12px;
}
.card-details .extra-details span{
   display: block;
}
.number{
   font-weight: bold;
   font-size: 20px;
   color: black;
}
.card-details .extra-details.active{
   background-image: linear-gradient(to top, #f4faf4 0%, #bff6e4 100%) !important;
   color: #06ba7f;
}
.card-details .extra-details.inactive{
   background-image: linear-gradient(to top, #f4faf4 0%, #ff9a73 100%) !important;
   color: #ff4700;
}
.fa-dumbbell:before {
   content: "\f44b";
}



@media only screen and (max-width: 767px){
   .container{
      margin: 10px 0;
   }
   .card-details{
      width: 44% !important;
   }
   .card-details .extra-details{
      width: 40%;
      margin-right: 10%;
   }
   .container .card:first-child{
      margin-left: 10px !important;
   }
}