.slot-content .mbr-gallery-filter li{
   width: 300px;
}
.slot-content .day-info{
   width: 250px;
   height: auto;
   min-height: 90px;
   padding: 20px;
}
.slot-content .more-info{
   margin-top: 10px;
}
.slot-content .more-info div{
   width: 210px;
}
.slot-content .view-slot{
   position: absolute;
   bottom: -41px;
   padding: 10px;
   cursor: pointer;
   width: 100%;
   left: 0;
   background: linear-gradient(45deg, #fbac7f, #e5658a);
   color: #090909;
}
.slot-content .btn-md{
   margin: 2.2rem .8rem !important;
   padding: 0 !important;
}
.slot-content .first{
   margin-top: 0 !important;
}
.slot-content .center-align{
   left: 0;
}
.slot-form{
   width: 100%;
   float: left;
}
.slot-form .timeline{
   width: calc(100% - 10px);
}
.slot-form .single-field{
   float: none;
   margin: auto !important;
   clear: both !important;
}
.slot-form .timeline{
   background: none;
   border: none;
}
.single-field .ui.checkbox{
   margin: auto;
   width: 170px;
   text-align: left;
   margin-bottom: 10px;
}
.single-field .ui.checkbox label{
   font-size: 1.2em;
   padding-left: 1.5em;
}
.slot-form .timeline .field{
   margin: 0;
}
/* .preview {
   display: inline-block;
   float: none;
   margin-bottom: 40px;
} */
.preview .slot {
   display: inline-block;
   float: none;
   position: relative;
}
.preview .slot {
   background: #fff;
   color: #21ba45;
   width: 40px;
   height: 40px;
   border-radius: 20px;
   text-align: center;
   padding-top: 8px;
   margin-left: 20px;
   border: 2px solid #21ba45;
   font-weight: bold;
}
.preview .slot:first-child{
   margin-left: 0;
}
.preview .slot:after{
   content: no-close-quote;
   position: absolute;
   background-color: red;
   width: 24px;
   height: 2px;
   border-radius: 50%;
   margin-left: 14px;
   top: 25px;
 }
 .preview .slot:last-child{
    border-radius: 0;
 }
 .preview .slot:last-child:after{
  content: '';
  display: none;
}
.preview .slot:before{
   content: no-close-quote;
   position: absolute;
   background-color: red;
   width: 24px;
   height: 2px;
   border-radius: 50%;
   margin-left: 23px;
   top: 13px;
 }
 .preview .slot:last-child::before{
  content: '';
  display: none;
}
.slot-more-info {
   color: #000;
   position: absolute;
   top: 60px;
   text-align: left;
   font-size: 0.8em;
   white-space: normal;
}
.residue{
   color: green;
   font-size: 1.5em;
   display: inline-block;
   float: none;
   position: relative;
}
.slot-list .slot-more-info{
   width: 60px;
   white-space: initial;
   height: 50px;
}
.slot-list .day-info{
   min-height: 210px;
   width: 280px;
   position: relative;
}
.mbr-gallery-filter li .btn{
   position: relative;
}
.delete{
   position: absolute;
   right: 0;
   top: 0;
   width: 30px;
   height: 30px;
   z-index: 1;
}
.delete i{
   opacity: 1 !important;
   font-size: 1.5em;
   color: #000;
}
.preview{
   margin-bottom: 20px;
   white-space: nowrap;
   overflow-x: auto;
   overflow-y: hidden;
   height: 110px;
}
.slot-list .day-info .preview{
   margin-bottom: 0;
   margin-top: 10px;
   margin-left: 10px;
   margin-right: 10px;
}
.slot-list .center-align{
   overflow: hidden;
   font-size: 0.8em;
}
.overhide .description{
   overflow: hidden;
}
.overhide ::-webkit-scrollbar, .gym-container ::-webkit-scrollbar {
   display: none;
}
.div-card-name{
   width: 100%;
   text-align: center;
   display: block;
}
.dayname{
   display: inline-block;
}
.gym-container h3{
   margin: 20px 0 20px 0 !important;
}
.add-new{
   position: fixed;
   z-index: 5;
   top: 4px;
   width: 100%;
}
.add-new .ui.green{
   float: right;
}
.add-new .ui.black{
   float: left;
}
.new{
   float: left;
   width: 100%;
   padding: 10px;
}
.new .preview{
   height: 90px;
}
.input-range__track{
   touch-action: auto;
}
.time-range{
   width: 100%;
   float: left;
}
.time-range span{
   width: 140px;
   text-align: left;
   float: left;
}
.time-range span:last-child{
   text-align: right;
   float: right;
}
.input-range{
   margin-top: -20px;
}

.time-display{
   float: left;
   width: 50%;
   padding: 20px;
}

@media only screen and (min-width: 1200px){
   .slot-list .day-info{
      min-height: 210px !important;
   }
   .add-new{
      width: 1200px;
   }
}